.textbox>img{
    height: 100%;
    width:100%;
    object-fit: fill;
    text-align: center;
    flex:auto;
}
.textbox{
    height:100%;
    width:100%;
    display: block;
    position: relative;
    flex:auto;
    display: flex;
}

.frameNoMouseEvent{
    pointer-events:none;
}